# chrn_core
chrn_core/target/

## Blob mostly for testing config loader
chrn_core/chrn_tests/blob.chrn
## May or may not become a blob for certain tests so kept ignored
chrn_core/chrn_tests/temp.chrn
## Temp file for testing current UTF-8 panics
chrn_core/chrn_tests/testmenow.tar

# chrn_tools
chrn_tools/target/

# Common tools shared across any workspace
common/target/

# misc

# Ideas
chrn_without_the_e/

# Directory where case specific errors are checked internally
error/

# Test runner
ates.yml
